.container {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.title {
    font-size: 20px;
}
.merge-button {
    background: #0abe51;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff!important;
    cursor: pointer;
    outline: 0;
    padding: 10px 30px;
    margin-top: 15px;
}

.loading-gif {
    position: fixed;
    height: 50px;
    width: 50px;
    top: calc((100% - 50px) / 2);
    left: calc((100% - 50px) / 2);
    display: none;
}

.show {
    display: block;
}

.pointer-none {
    pointer-events: none;
}